PORT=3000
DSN="host=localhost user=postgres password=your_password dbname=name_db port=5432"
JWT_SECRET="YOUR_SUPER_SECRET_JWT"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=name_db